.full-bg-style{
    background-color: black;
   
}

.home-banner-header{
    font-size: 70px;
    font-weight: 900;
    background: -webkit-linear-gradient(#f81f01, #ee076e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 70px;
}

.about-header-1{
    font-size: 60px;
    font-weight: 900;
}

.bg-second{
    background-color: rgb(32, 31, 31);
}

.services-header-1{
    font-size: 60px;
    font-weight: 900;
}

.link-style{
    text-decoration: none;
}

.col-style:hover{
    background: linear-gradient(#f81f01, #ee076e);
    border-radius: 10px;
    

}

.fun-fact-bg{
    background-color: rgb(32, 31, 31);

}

.temp-position{
    position: relative;
    bottom: 10px;
}

.partners-list{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.partners-list img:hover{
    padding: 5px;
}

.second-partners-list{
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.second-partners-list img:hover{
    padding: 5px;
}

.linkStyle{
    text-decoration: none;
}

.symbol-style:hover{
    color: aliceblue;
    position: relative;
    transform: translateY(-5px);
    transition: 1s;
}

.navbar-contact-style:hover{
    position: relative;
    transform: translateY(-5px);
    transition: 1s;
}

.left-footer-style{
    background: linear-gradient(#f81f01, #ee076e);
    opacity: 95%;
}

.left-footer-relative{
    position: relative;
    margin-top: -350px; ;
   
}

.left-footer-relative h1{
    font-size: 70px;
    font-weight: 900;
    color: white;
}

.left-footer-relative p {
    font-size: 20px;
    color: white;

}

.position-style{
    margin-top: -120px;
}

.contact-number-style{
    color: gray;
   

}
.contact-number-style:hover{
    color: red;
   

}

.bg-sec{
    background-color: whitesmoke;
}

.services-title{
    font-size: 50px;
    background: -webkit-linear-gradient(290deg,#f81f01, #ee076e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
